@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Barlow Semi Condensed";
    background-color: hsl(210, 46%, 95%);
    padding: 6%;
}

.d-image{
    display: flex;
    align-items: center;
}

.image{
    margin: 0 1.5rem;
    border-radius: 50%;
}

.info-name{
    line-height: 0;
}

.name{
    color: hsla(0, 0%, 100%,);
    font-weight: 450;
}

.info{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.5);
}

.header{
    font-weight: 500;
    font-size: 21px;
    z-index: 2;
    margin: 0 23px;
    padding: 30px 0;
}

article{
    font-size: 15px;
    color:hsla(0, 0%, 100%, 0.7);
    margin: 0 23px;
    line-height: 1.5;
}

.info3{
    color: hsl(0, 0%, 81%);
    font-size: 13px;
}

.article3{
    color: hsl(217, 19%, 35%);
    font-size: 15px;
    margin: 0 23px;
    line-height: 1.5;
}

/* FOR MOBILE DESIGN */
 @media only screen and (min-width: 200px){

        svg{
            float: right;
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        .container{
            display: grid;
            grid-gap: 30px;
            justify-content: center;
            align-content: center;
        }
        
        .card-1{
            background-color: hsl(263, 55%, 52%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
            border-radius: 10px;
        }
        
        .card-2{
            background-color: hsl(217, 19%, 35%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
            border-radius: 10px;
        }
        
        .card-3{
            background-color: hsl(0, 0%, 100%);
            color: hsl(217, 19%, 35%);
            padding: 20px;
            border-radius: 10px;
        }
        
        .card-4{
            background-color: hsl(219, 29%, 14%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
            border-radius: 10px;
        }
        
        .card-5{
            background-color: hsl(0, 0%, 100%);
            color: hsl(217, 19%, 35%);     
            padding: 20px;
            border-radius: 10px;
        }
        } 

       /* FOR DESKTOP */
       @media only screen and (min-width: 1200px){

        svg{
            float: right;
            position: absolute;
            top: 6rem;
            left: 33rem;
            z-index: 1;
        }

        .container{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
        .card-1{
            grid-column: 1 / span 2;
            background-color: hsl(263, 55%, 52%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
        }
        
        .card-2{
            background-color: hsl(217, 19%, 35%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
        }
        
        .card-3{
            background-color: hsl(0, 0%, 100%);
            color: hsl(217, 19%, 35%);
            padding: 20px;
        }
        
        .card-4{
            grid-area: 2 / 2 / 3 / span 2;
            background-color: hsl(219, 29%, 14%);
            color: hsl(0, 0%, 100%); 
            padding: 20px;
            border-radius: 10px;
        }
        
        .card-5{
            grid-area: 1 / 4 / span 2 / 5;
            background-color: hsl(0, 0%, 100%);
            color: hsl(217, 19%, 35%);     
            padding: 20px;
            border-radius: 10px;
        }
        }
       